
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
   
  }
  
  .logo {
    color:  #e9e9e9;
    font-size: 30px;
  }
  
  
  .menu-bar {
    background-color:  #44856e;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
    border-right: 1px solid #e1e1e1;
    width: 102%;
    padding-right: 15px;
    padding-left: 56px;
    border-right: 1px solid #e1e1e1;

  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    padding: 10px 30px;  
    position: relative;
    border-right: 1px solid #e1e1e1;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color:  #e9e9e9;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: #034b32;
  }
  
  .menu-bar .catemenu-toggler {
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
    letter-spacing: 0;
    line-height: 2.6rem;
    display: block;
    padding: 1.4rem 0;
}


.menu-bar .catemenu-toggler {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    letter-spacing: 0;
    line-height: 2.6rem;
    display: block;
    padding: 1.4rem 0;
}
      .menu-bar .catemenu-toggler:before {
    content: "\e907";
    font-family: 'plaza-icon';
    font-size: 2.4rem;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem;
    font-weight: normal;
      }

    .ten {
        background-color: #eee;
        width: auto;
        height: 400px;
        padding: 0;
        margin: 10px 20px 0px 26px;
        border: 1px solid #d3cfcf;
        border-radius: 14px;
        position: relative;
    }

        .img{
            border-radius: 17px;
            width: 727px;
            padding: -15px;
            margin: 0px;
            float: right;
            padding-top: 14px;
            padding-bottom: x;
        }      
        
        .eleven{
            transition-duration: 500ms;
    transition-delay: 0.2s;
    transition-property: all;
        }

        .eleven .twelve{
            text-align: center;
            color: #000000;
            font-size: 53px;
            padding: 80px 80% 1px 0px;
            margin: 7px;
            padding-bottom: -5px;
            position: relative;
            
        }



        .eleven .therteen{
            font-size: 30px;
            text-transform: capitalize;
            display: inline-block;
            vertical-align: top;
            margin: 25px;
            letter-spacing: -0.025em;
            padding-bottom: 2.2rem;
            text-align: center;
            color: #000;
        }
   
.eleven .forteen{
    color: #4aad8a;
}
.button{
    color: #ffffff;
    border-radius: 40px;
    font-size: 45px;
    padding: 14px;
    margin: -24px 70px 19px;
    background-color: #3d9576;
    border: #3d5c1b solid 2px;
}
    .policy-block {
         text-align: center; 
         border: 0;
        margin-top: 10rem;
    }
    
    .policy-block .inner {
        display: flex;
        margin: 0px -30px;
    }
    
.policy-block .col {
    padding: 0 0.5rem;
    border-right: 1px solid #ebebeb;
}




.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}


.policy-block .box {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    margin: auto;
    padding-left: 6.7rem;
}


  .policy-block .box :before {
    content: "";
    position: absolute;
    top: 26%;
    left: -20px;
    width: 36px;
    height: 31px;
    background-color: white;
    margin-top: -32px;
    border-style: solid;
    border-width: 38px;
    border-color: transparent #44856e transparent transparent;
  }
  
.policy-block .box h4 {
    font-size: 1.4rem;
    text-transform: capitalize;
    margin: 0;
    font-weight: 600;
    margin-bottom: 8px;
}
.policy-block .box p {
    margin: auto;
    line-height: 1.8rem;
    max-width: 26rem;
    font-weight: 300;
    color: #666;
}



    .block-title {
        margin-bottom: 10px !important;
        margin-top: 9.5rem;
        position: relative;
        text-align: center;}

    .block-title h3 {
        font-size: 4rem;
        text-transform: capitalize;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        letter-spacing: -0.025em;
        padding-bottom: 0.2rem;
        color: #222222;
    font-family: Lora;
    font-weight: 400;
    margin-bottom: 1rem;
    border-bottom: 5px solid #44856e;
}



   .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 13px;
    margin: 35px;
    position: absolute;

}

.product {
    background-color: #f2f2f2;
    padding: 60px;
    margin: 30px;
    width: 300px;
}

.product img {
    width: 100%;
}

.product h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.product p {
    margin-top: 5px;
}

.product button {
    background-color: #44856e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}





footer {
    background-color: #1c1b1b;
    color: #fff;
    padding: 30px 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.contact, .follow {
    flex-basis: 40%;
}

.contact h2, .h {
     font-family: 'Times New Roman', Times, serif;
    color: #4da384;
    font-size: 28px;
    margin-bottom: 10px;
}

.contact p, .follow a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
}




.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}



